@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}



<h3 class="text-center my-4 text-success">dear <b class="text-decoration-underline">@Model.Name</b> your account registeration finished as <b class="text-decoration-underline">@Model.Role</b> successfully </h3>
<h4 class="text-center"><a class="text-success text-opacity-75" asp-controller="Home" asp-action="Index">Back to home page</a></h4>